* {
  box-sizing: border-box;
}
body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.players {
    margin-top: 130px;
    margin-left: 80px;
}
.container {
  margin-top: 148px;
  margin-left: 408px;
  width: 537px;
  height: 537px;
  display: block;
}
.cell {
  width: 20%;
  height: 20%;
  padding: 30px;
  float: left;
  font-size: x-large;
  font-family: cursive;
  color: rgb(255, 255, 250);
  border: 1px solid white;
}
button {
  font-size: 20px;
  color: #fffffa;
  text-align: center;
  outline: none;
  float: left;
  margin-top: 75px;
  width: 325px;
}
button.reset, button.build-board {
  display: block;
  margin-top: 30px;
  cursor: pointer;
}
button.reset {
  position: fixed;
  top: 100px;
}
.msg-container {
  text-align: center;
  font-style: italic;
  font-size: 25px;
  height: 80px;
  padding: 10px;
  width: 160px;
  margin-left: -170px;
  margin-top: 15px;
  display: block;
  border: 1px solid #fbe1a6;
  background-color: #57a8bb;
}
.msg {
  background-color: #d3d3d3;
}
.player1 {
  background-color: chartreuse;
}
.player2 {
  background-color: blueviolet;
}
.player3 {
  background-color: red;
}
.player4 {
  background-color: #5dc2f1;
}
.incorrect {
  color: white;
  background-color: black;
}
.reset {
  background-color: ghostwhite;
}
.game-setup {
  display: block;
}
.game-play {
  display: none;
}
select {
  display: block;
}
.win {
  background-color: hotpink;
}
